# Clase 7 Graficas de pastel, barras, sunburst, ...

In [3]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [7]:
#pip install openpyxl xlrd
#pip install openpyxl
#pip install seaborn
#pip install plotly

Collecting plotly
  Downloading plotly-5.4.0-py2.py3-none-any.whl (25.3 MB)
     |████████████████████████████████| 25.3 MB 4.4 MB/s eta 0:00:01��██▉           | 16.5 MB 4.4 MB/s eta 0:00:02�███████████▊       | 19.5 MB 4.4 MB/s eta 0:00:02
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from plotly) (1.16.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.4.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mlp
import matplotlib.pyplot as plt
import plotly.express as px

In [9]:
df = pd.read_excel('datasets/mic.xlsx',
                   engine = 'openpyxl'
                  )
df.head()

,Timestamp,Name,Age,Sex,Ocupation,Monthly income,Price,Quality,Quantity,Availability,...,Overal satisfaction,Consistency,Factor,Frowned,reason,Popular,My favorite,Kind,Preference,Recommend
0,2021-09-24 11:41:37.540,Jobish Vallikavungal Devassia,31 - 40,Male,Research,">40, 000",5,5,5,4,...,4,4,Taste,No,NaN,"vanilla, lemon, and mint",Chocolate,More than one flavoured,agree,agree
1,2021-09-24 11:44:42.933,chikku,21 - 30,Male,student,"<10,000",3,5,3,4,...,4,4,Taste,No,Quanity issues,"vanilla, chocolate, and strawberry",Chocolate,More than one flavoured,neutral,neutral
2,2021-09-24 11:49:07.510,Dr Lillykutty Abraham,41 - 50,Female,Teaching,">40, 000",3,4,4,4,...,4,4,Taste,No,NaN,"vanilla, chocolate, and strawberry",Caramel,More than one flavoured,disagree,neutral
3,2021-09-24 21:49:47.576,Joshua,21 - 30,Male,Student,"<10,000",5,5,3,4,...,4,4,Taste,No,NaN,"vanilla, chocolate, and strawberry",Strawbery,More than one flavoured,agree,agree
4,2021-09-24 21:53:14.805,Aswathi,21 - 30,Female,Tutor,"10,000 - 20,000",5,5,4,4,...,5,5,Quality,No,NaN,"vanilla, chocolate, and strawberry",Vanila,single flavoured,agree,Strongly agree

In [11]:
counts = df['Age'].value_counts()
counts

21 - 30    37
<=20        6
31 - 40     4
41 - 50     3
Name: Age, dtype: int64

In [12]:
type(counts)

pandas.core.series.Series

In [24]:
#counts = counts.to_lists()
#type(counts)
#counts

21 - 30    37
<=20        6
31 - 40     4
41 - 50     3
Name: Age, dtype: int64

In [29]:
counts.loc[:,'Age']
counts.loc[:,'Age'].sum(axis = 0)
counts['%'] = (counts.loc[:,'Age']/counts.loc[:,'Age'].sum(axis = 0))*100
counts

         Age     %
21 - 30   37  74.0
<=20       6  12.0
31 - 40    4   8.0
41 - 50    3   6.0

In [31]:
counts = counts.reindex([ '<=20', '21 - 30', '31 - 40', '41 - 50'])
counts

         Age     %
<=20       6  12.0
21 - 30   37  74.0
31 - 40    4   8.0
41 - 50    3   6.0